[submodule "instance"]
	path = instance
	url = ./instance
[submodule "factory"]
	path = factory
	url = ./factory/
[submodule "csvParser"]
	path = csvParser
	url = git@github.com:TakashiSasaki/csvParser.git
